/* Resotectors Theme Starter */
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #f7f9fb;
  color: #111;
}

header {
  background-color: #1c1c3c;
  color: #00ffcc;
  padding: 1rem;
}

a {
  color: #00cc99;
}
